In [8]:
from pathlib import Path
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
import ase
from ase import io
from ase.visualize import view

from prody import *

def cond(x):
    return 6 if x > 10 else  x

def vis_pdb(pdb):
    atomic_numbers = pdb.get_atomic_numbers()
    print(atomic_numbers)
    #  hack to get around the color scheme and atom type names
    #. eg. CYA for alpha carbon types
    pdb.set_atomic_numbers([ cond(_)
                            for _ in atomic_numbers])
    return view(pdb, viewer="x3d")

In [9]:
# Trajectory

In [10]:
csvpath = Path("csv")
csvfiles = csvpath.glob("*.csv")
dcdpath = Path("dcd")
dcdfiles = dcdpath.glob("*.dcd")

resultsdf = pd.concat([pd.read_csv(_) for _ in list(csvfiles)])
resultsdf["time (ps)"] = resultsdf["dt"] * resultsdf["n"]
resultsdf

,Unnamed: 0,s,t,n,o,dt,wb,time (ps)
0,b48733a2-a7c1-4f1a-a342-663bc739540f,SER,328.0,500000,SER_9_328K_gas,0.002,False,1000.0
0,7f277baf-36a7-43b3-9e93-c6266f560282,SER,328.0,50000,SER_10_328K_wb,0.002,True,100.0
0,82dfb433-4a8f-4925-8516-5a0856055799,ALA,358.0,500000,ALA_3_358K_gas,0.002,False,1000.0
0,ead15ee3-7923-4b58-b4c6-4225ea3a2a95,GLY,400.0,500000,GLY_4_400K_gas,0.002,False,1000.0
0,dfcca413-101c-45b7-a98a-4060707dc577,ALA,328.0,500000,ALA_5_328K_gas,0.002,False,1000.0
...,...,...,...,...,...,...,...,...
0,8653530a-c915-4418-858a-7f1758216d37,SER,400.0,500000,SER_7_400K_gas,0.002,False,1000.0
0,e75dbe25-5ebc-479b-9c7e-7b72ef4a6efa,GLY,400.0,500000,GLY_6_400K_gas,0.002,False,1000.0
0,97483a65-f050-4783-bef3-942a3243f6b7,ALA,328.0,500000,test2,0.002,False,1000.0
0,e99fe993-4811-40d9-9e59-307ef9e3d495,GLY,328.0,50000,GLY_3_328K_wb,0.002,True,100.0
0,221830ad-852c-47ef-873b-25278488e603,SER,358.0,50000,SER_9_358K_wb,0.002,True,100.0

In [11]:
#vmd pdb/initial-ser_9_328k_gas-b48733a2-a7c1-4f1a-a342-663bc739540f.pdb dcd/name_b48733a2-a7c1-4f1a-a342-663bc739540f.dcd

In [12]:
resultsdf

,Unnamed: 0,s,t,n,o,dt,wb,time (ps)
0,b48733a2-a7c1-4f1a-a342-663bc739540f,SER,328.0,500000,SER_9_328K_gas,0.002,False,1000.0
0,7f277baf-36a7-43b3-9e93-c6266f560282,SER,328.0,50000,SER_10_328K_wb,0.002,True,100.0
0,82dfb433-4a8f-4925-8516-5a0856055799,ALA,358.0,500000,ALA_3_358K_gas,0.002,False,1000.0
0,ead15ee3-7923-4b58-b4c6-4225ea3a2a95,GLY,400.0,500000,GLY_4_400K_gas,0.002,False,1000.0
0,dfcca413-101c-45b7-a98a-4060707dc577,ALA,328.0,500000,ALA_5_328K_gas,0.002,False,1000.0
...,...,...,...,...,...,...,...,...
0,8653530a-c915-4418-858a-7f1758216d37,SER,400.0,500000,SER_7_400K_gas,0.002,False,1000.0
0,e75dbe25-5ebc-479b-9c7e-7b72ef4a6efa,GLY,400.0,500000,GLY_6_400K_gas,0.002,False,1000.0
0,97483a65-f050-4783-bef3-942a3243f6b7,ALA,328.0,500000,test2,0.002,False,1000.0
0,e99fe993-4811-40d9-9e59-307ef9e3d495,GLY,328.0,50000,GLY_3_328K_wb,0.002,True,100.0
0,221830ad-852c-47ef-873b-25278488e603,SER,358.0,50000,SER_9_358K_wb,0.002,True,100.0

In [13]:
gasphase = resultsdf[resultsdf["wb"] == False]
gasphase

,Unnamed: 0,s,t,n,o,dt,wb,time (ps)
0,b48733a2-a7c1-4f1a-a342-663bc739540f,SER,328.0,500000,SER_9_328K_gas,0.002,False,1000.0
0,82dfb433-4a8f-4925-8516-5a0856055799,ALA,358.0,500000,ALA_3_358K_gas,0.002,False,1000.0
0,ead15ee3-7923-4b58-b4c6-4225ea3a2a95,GLY,400.0,500000,GLY_4_400K_gas,0.002,False,1000.0
0,dfcca413-101c-45b7-a98a-4060707dc577,ALA,328.0,500000,ALA_5_328K_gas,0.002,False,1000.0
0,260e26d0-aa08-4ad0-9d1b-fe6f67faf31a,SER,298.0,500000,SER_6_298K_gas,0.002,False,1000.0
...,...,...,...,...,...,...,...,...
0,ec4d4b9c-3ce8-4846-afb2-fb927500598f,ALA,358.0,500000,ALA_2_358K_gas,0.002,False,1000.0
0,4472d6af-fd80-46a3-b219-cc969eea5d0c,ALA,328.0,500000,ALA_7_328K_gas,0.002,False,1000.0
0,8653530a-c915-4418-858a-7f1758216d37,SER,400.0,500000,SER_7_400K_gas,0.002,False,1000.0
0,e75dbe25-5ebc-479b-9c7e-7b72ef4a6efa,GLY,400.0,500000,GLY_6_400K_gas,0.002,False,1000.0
0,97483a65-f050-4783-bef3-942a3243f6b7,ALA,328.0,500000,test2,0.002,False,1000.0

In [14]:
resultsdf[resultsdf["s"] == "SER"].groupby("t").count()

       Unnamed: 0   s   n   o  dt  wb  time (ps)
t
298.0          20  20  20  20  20  20         20
328.0          20  20  20  20  20  20         20
358.0          20  20  20  20  20  20         20
400.0          10  10  10  10  10  10         10

In [15]:
ser_gas = gasphase[gasphase["s"] == "SER"]

In [22]:
ser_gas_328 = list(ser_gas[ser_gas["t"] == 328.0]["Unnamed: 0"])

for _ in ser_gas_328:
    get_stats_from_key(_)

['b48733a2-a7c1-4f1a-a342-663bc739540f',
 'a96247fc-5dc2-4887-9ba9-59b51a1c3f58',
 'ec780a30-ca39-4725-9b02-91f001203892',
 '362b1947-0d07-452a-bb0d-ed01bcf6b3b7',
 '88c0c383-be38-4ffc-a862-b6c5a0e39b4b',
 '676f44f0-8b91-4411-8e2f-f83baa4a5162',
 '593ed005-e816-4998-bc10-f9ad036bcd2d',
 'd0c3765d-b55e-4ec6-90e7-5741cbb1413d',
 'ffa266b1-1b2c-44f4-84d2-c17ff7305f51',
 'aac843bf-d8c1-484c-94d9-832b65e7d729']

In [9]:
# b48733a2-a7c1-4f1a-a342-663bc739540f

In [10]:
dcd = "dcd/name_b48733a2-a7c1-4f1a-a342-663bc739540f.dcd"
pdb = "pdb/ser-b48733a2-a7c1-4f1a-a342-663bc739540f.pdb"

In [11]:
traj = Trajectory(pdb)
traj.link(pdb)

NameError: name 'Trajectory' is not defined

In [ ]:
# 4 6 8 15 17
  # (phi)
     #  (psi)